html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  padding: 20px 15px;
  height: 100%;
}

.wrapper {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 72px;
  z-index: 1;
  background: #Fff;
}

.header .container {
  padding: 10px 15px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo .logo-link {
  font-size: 28px;
  font-weight: bold;
}

.header__logo span {
  font-size: 14px;
}

.header__nav {
  padding: 0 15px;
}

.header__nav .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav .menu__item {
  margin-right: 60px;
}

.header__nav .menu__item:last-child {
  margin-right: 0;
}

.header__nav .menu__link {
  position: relative;
  color: #000;
}

.header__nav .menu__link:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #000;
  -webkit-transition: width .3s ease-in-out;
  -o-transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
}

.header__nav .menu__link:hover::before {
  width: 100%;
}

.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__contact a {
  color: #000;
}

.header__contact .header__phone {
  font-size: 22px;
}

.header__contact .header__phone .header__phone-smal {
  font-size: 18px;
}

.header__contact .header__email {
  font-size: 15px;
  margin: 0 auto;
}

.head-section {
  position: relative;
  height: calc(100vh - 72px);
  max-height: 800px;
  background-image: url("./../../img/bg3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  margin-top: 72px;
}

.head-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head-section__title {
  color: #fff;
}

.head-section__title h1 {
  margin-top: 10%;
  font-size: 32px;
}

.call-back__form .input-form {
  border-radius: 5px;
}

.call-back__form input {
  padding: 7px 8px;
  border: 1px solid #000;
}

.call-back__form select {
  padding: 6px 8px;
  border: 1px solid;
}

.call-back__form button {
  background: #002d93;
  border: 2px solid #002d93;
  outline: none;
  border-radius: 5px;
  padding: 6px 16px;
  cursor: pointer;
  color: #fff;
}

.call-back__form button:hover {
  border: 2px solid #003dca;
  background: #003dca;
}

.services__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.services__tab-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
}

.services__content-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  height: 100%;
}

.services__tab {
  cursor: pointer;
}

.services__tab--active {
  color: red;
}

.services__content {
  display: none;
  outline: 1px solid;
}

.services__content--active {
  display: block;
}

.flag__slider-item {
  height: 100%;
  padding: 0 10px;
}

.flag__slider-item img {
  width: 120px;
}

.footer {
  background: #B5B5B7;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 25%;
}

.footer__item {
  font-size: 14px;
}

.footer__item h3 {
  font-size: 18px;
}

.footer__logo-img {
  width: 150px;
}

.footer__menu {
  color: #fff;
}

.footer__menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__menu-link {
  color: #002d93;
}

.footer__menu-link:hover {
  color: #fff;
}